<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', { title }) %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <% clothes.forEach((c) => {%>
        <%= c.description %>
        <%= c.price %>
        <%= c.size %>
        <%= c.size_description %>
        <%= c.min_age %>
        <%= c.max_age %>
        <%= c.color %>
        <%= c.type %>
        <%= c.category %>
    <% }) %>

    <%- include('./partials/footer.ejs') %>
</body>
</html>